body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.rounded {
    border-radius: 15%;
    width: 170px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}
.notifier {color: white; }

.circleBox {
    color: white;
    font: bold 35px/30px Helvetica, Verdana, Tahoma;
    min-width: 14px;
    padding: 25% 0% 0 0;
    text-align: center;
    margin-left: 13%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}
.color-orange {
    background: lightsalmon;
}
.color-black {
    background: rgb(44, 44, 44);
}
.color-blue {
    background: rgb(0, 195, 255);
}

.text-template {
    font: bold 15px Montserrat-Bold, Montserrat, Helvetica, Verdana, Tahoma;

}

.dashboard-bg {
    background: lightsalmon;
    background-image: url(../img/daniel-von-appen-t5MxUIeSp8o-unsplash.png);
    background-blend-mode: exclusion;
}

.login-logo {
    width: 15%;
    height: 15%;
}

.login-logo-text {
    font: Regular 8px/5px Montserrat, Helvetica, Verdana, Tahoma;
}