* {
    text-align: center;
}

label {
    margin-left: 8px;
    margin-right: 8px;
}

.resultTable th,
tr,
td,
caption {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

#app-bar {
    text-align: center;
    padding-top: 5%;
}

#app-container {
    text-align: center;
    padding-top: 10%;
}

#app-result-area {
    text-align: center;
    padding-top: 10%;
}