html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}
#map { 
	height: 100%;
}

#filter-menu { 
	z-index: 100;
	width: 30%;
	position: absolute;
	left: 4%;
	background: rgba(255,255,255,0.10);
}

#btn-hsm { 
	z-index: 50;
	position: absolute;
	left: 0%;
}

.90deg{
	
}